In [1]:
import pandas as pd

### Часть I

[Titanic dataset](https://www.kaggle.com/competitions/titanic/overview) — данные о пассажирах титаника

Загрузим данные

In [2]:
titanic = pd.read_csv('../../data/titanic/train.csv')
titanic.head()

#### Задание 1
Постройте графики распределения возвраста в зависмости от совокупности факторов:
- пол
- выжил или нет

In [4]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### Задание 2
Найдидте самое популярное женское имя

#### Задание 3
Сколько на Титанике было детей?

#### Задание 4
Найдите и подкрепите агрументами такое правило, что
1) все удовлетворяющие ему пассаижры выжили;
2) все уодвлетворяющие ему пассажиры погибли.

Постарайтесь найти такие правила, чтобы под них попало как можно большее число пассажиров

### Часть II

In [56]:
data = pd.read_csv('../../data/hw2.csv')

#### Задание 5
Вам необхоидмо составить и обосновать правило, которое идеально классифицирует объекты из таблицы `data`.
Класс примера находится в колонке `label`, а признаки — в колонках `x` и `y`